* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

/* Mobile Start */
/* index.html dosyasi */
.container {
  margin: auto;
  border: 1px solid black;
}

.up-down-close {
  display: flex;
  margin-top: 32px;
  margin-bottom: 40px;

  .up-down {
    margin-right: 270px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Yapilan Islem Degistirilmedigi Surece 
    Tum Ekran Boyutlarinda Ayni Kabul Edilir */
  .main-menu {
    display: none;
    gap: 8px;

    li {
      list-style: none;
    }
  }

  .hamburger-menu-handle {
    display: flex;
    background-color: black;
  }
}

.short-promotional-text-and-about-me-image {

  h1 {
    font-family: Ibarra Real Nova;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.36px;
    margin-inline: 32px;
    margin-bottom: 32px;
  }

  .about-me {
    width: 200;
    height: 48;
    opacity: 1;
    top: 599px;
    left: 32px;
    background: #203A4C;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    margin-right: 143px;
    margin-bottom: 96px;

    h4 {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      color: white;
      margin-inline: 30px;
    }
  }
}

.photo-about-and-projects-go-button {

  .photo-me {
    margin-inline: 32px;
    margin-bottom: 32px;

    img {
      width: 311px;
      height: 346px;
    }
  }

  .about {
    width: 311px;
    margin-inline: 32px;
    margin-bottom: 51px;

    .line-top {
      border: 1px solid #33323D;
      width: 311px;
      margin-bottom: 51px;
      opacity: 15%;
    }

    h1 {
      font-family: Ibarra Real Nova;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.36px;
      margin-top: 32px;
      margin-bottom: 28px;
    }

    h4 {
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 400;
      color: #33323D;
      line-height: 30px;
      margin-bottom: 24px;
    }

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      padding: 17px 32px;
      text-decoration: none;
      border: 1px solid black;
      margin-bottom: 50px;
    }

    .line-bottom {
      border: 1px solid #33323D;
      width: 311px;
      margin-top: 46px;
      margin-bottom: 115px;
      opacity: 15%;
    }
  }
}

.contact-us-text-and-button {

  .contact-me {
    margin-bottom: 80px;

    h1 {
      font-family: Ibarra Real Nova;
      font-weight: 700;
      font-size: 40px;
      line-height: 42px;
      letter-spacing: -0.36px;
      text-align: center;
      margin-bottom: 40px;
      width: 311px;
      margin-inline: 32px;
    }

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      padding: 17px 32px;
      text-decoration: none;
      border: 1px solid black;
      margin-inline: 85px;
    }
  }
}