* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

/* Mobile Start */
/* index.html File Mobile Start */
.container {
  margin: auto;
  border: 1px solid black;
}

.up-down-close {
  display: flex;
  margin-top: 32px;
  margin-bottom: 40px;

  .up-down {
    margin-right: 270px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Yapilan Islem Degistirilmedigi Surece 
    Tum Ekran Boyutlarinda Ayni Kabul Edilir */
  .main-menu {
    display: none;
    gap: 8px;

    li {
      list-style: none;
    }
  }

  .hamburger-menu-handle {
    display: flex;
    background-color: black;
  }
}

.short-promotional-text-and-about-me-image {

  h1 {
    font-family: Ibarra Real Nova;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.36px;
    margin-inline: 32px;
    margin-bottom: 32px;
  }

  .about-me {
    width: 200;
    height: 48;
    opacity: 1;
    top: 599px;
    left: 32px;
    background: #203A4C;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    margin-right: 143px;
    margin-bottom: 96px;

    h4 {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      color: white;
      margin-inline: 30px;
    }
  }
}

.photo-about-and-projects-go-button {

  .photo-me {
    margin-inline: 32px;
    margin-bottom: 32px;

    img {
      width: 311px;
      height: 346px;
    }
  }

  .about {
    width: 311px;
    margin-inline: 32px;
    margin-bottom: 51px;

    .line-top {
      border: 1px solid #33323D;
      width: 311px;
      margin-bottom: 51px;
      opacity: 15%;
    }

    h1 {
      font-family: Ibarra Real Nova;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.36px;
      margin-top: 32px;
      margin-bottom: 28px;
    }

    h4 {
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 400;
      color: #33323D;
      line-height: 30px;
      margin-bottom: 24px;
    }

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      padding: 17px 32px;
      text-decoration: none;
      border: 1px solid black;
      margin-bottom: 50px;
    }

    .line-bottom {
      border: 1px solid #33323D;
      width: 311px;
      margin-top: 46px;
      margin-bottom: 115px;
      opacity: 15%;
    }
  }
}

.contact-us-text-and-button {

  .contact-me {
    margin-bottom: 80px;

    h1 {
      font-family: Ibarra Real Nova;
      font-weight: 700;
      font-size: 40px;
      line-height: 42px;
      letter-spacing: -0.36px;
      text-align: center;
      margin-bottom: 40px;
      width: 311px;
      margin-inline: 32px;
    }

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      padding: 17px 32px;
      text-decoration: none;
      border: 1px solid black;
      margin-inline: 85px;
    }
  }
}

.footer {
  background-color: #33323D;
  padding-top: 56px;
  padding-bottom: 56px;

  .up-down-white {
    width: 60px;
    height: 32px;
    display: flex;
    margin-inline: 157px;
    margin-bottom: 40px;
  }

  .menus {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      color: white;
      text-decoration: none;
      margin-bottom: 32px;
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      width: 25px;
      height: 25px;
      margin-right: 16px;
    }
  }
}

/* index.html File Mobile End */
/* Mobile End */





/* Tablet Start */
@media (width > 767px) {

  /* index.html File Tablet Start */
  .container {
    margin: auto;
    border: 1px solid black;
  }

  .up-down-close {
    margin-top: 64px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Yapilan Islem Degistirilmedigi Surece 
    Tum Ekran Boyutlarinda Ayni Kabul Edilir */
    .main-menu {
      display: flex;
      gap: 8px;

      li {
        list-style: none;
        font-family: Public Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: inherit;
          margin-right: 30px;
        }
      }

      .hamburger-menu-handle {
        display: none;
      }
    }
  }

  .short-promotional-text-and-about-me-image {

    .about-me {
      width: 200px;
      height: 48px;
    }
  }

  .photo-about-and-projects-go-button {
    display: flex;
    flex-direction: row;

    .photo-me {
      img {
        width: 281px;
      }
    }

    .about {
      width: 339px;
    }
  }

  .contact-us-text-and-button {
    margin-bottom: 96px;

    .contact-me {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;

      h1 {
        width: 400px;
        display: flex;
        justify-content: flex-start;
      }

      a {
        padding: 17px 32px;
        margin-inline: 20px;
        margin-top: 20px;
        margin-bottom: 75px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 0px;

    .up-down-white {
      margin-inline: 39px;
    }

    .menus {
      flex-direction: row;
      margin-right: 100px;

      a {
        margin-right: 43px;
      }
    }
  }

  /* index.html File Tablet End */
}





/* Computer Start */
@media (width > 1109px) {

  /* index.html File Computer Start */
  .container {
    margin: auto;
    border: 1px solid black;
    width: 1109px;
  }

  .short-promotional-text-and-about-me-image {

    .about-me {
      width: 200px;
      height: 48px;
    }
  }

  .photo-about-and-projects-go-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    .photo-me {
      img {
        width: 400px;
        height: 500px;
      }
    }

    .about {
      h4 {
        width: 350px;
      }
    }
  }

  .contact-us-text-and-button {
    margin-bottom: 96px;

    .contact-me {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;

      h1 {
        width: 400px;
        display: flex;
        justify-content: flex-start;
        margin-right: 400px;
      }

      a {
        padding: 17px 32px;
        margin-inline: 20px;
        margin-top: 20px;
        margin-bottom: 75px;
      }
    }
  }
}