* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

/* Mobile Start */
/* index.html dosyasi */
.container {
  margin: auto;
  border: 1px solid black;
}

.up-down-close {
  display: flex;
  margin-top: 32px;
  margin-bottom: 40px;

  .up-down {
    margin-right: 270px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Yapilan Islem Degistirilmedigi Surece 
    Tum Ekran Boyutlarinda Ayni Kabul Edilir */
  .main-menu {
    display: none;
    gap: 8px;

    li {
      list-style: none;
    }
  }

  .hamburger-menu-handle {
    display: flex;
    background-color: black;
  }
}