* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

/* Mobile Start */
/* index.html File Mobile Start */
.container {
  margin: auto;
}

.logo-and-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.nav {

  /* Yapilan Islem Degistirilmedigi Surece 
    Tum Ekran Boyutlarinda Ayni Kabul Edilir */
  .main-menu {
    display: none;
    gap: 8px;

    li {
      list-style: none;
    }
  }

  .hamburger-menu-handle {
    display: flex;
    background-color: black;
  }
}

.short-promotional-text-and-about-me-image {

  h1 {
    font-family: Ibarra Real Nova;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.36px;
    margin-inline: 32px;
    margin-bottom: 32px;
  }

  .about-me {
    width: 200px;
    height: 48px;
    opacity: 1;
    top: 599px;
    left: 32px;
    background: #203A4C;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    margin-right: 143px;
    margin-bottom: 96px;

    a {
      text-decoration: none;
    }

    h4 {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      color: white;
      margin-inline: 30px;
    }
  }
}

.photo-about-and-projects-go-button {

  .photo-me {
    margin-inline: 32px;
    margin-bottom: 32px;

    img {
      width: 311px;
      height: 346px;
    }
  }

  .about {
    width: 311px;
    margin-inline: 32px;
    margin-bottom: 51px;

    .line-top {
      border: 1px solid #33323D;
      width: 311px;
      margin-bottom: 51px;
      opacity: 15%;
    }

    h1 {
      font-family: Ibarra Real Nova;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.36px;
      margin-top: 32px;
      margin-bottom: 28px;
    }

    h4 {
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 400;
      color: #33323D;
      line-height: 30px;
      margin-bottom: 24px;
    }

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      padding: 17px 32px;
      color: inherit;
      text-decoration: none;
      border: 1px solid black;
      margin-bottom: 50px;
    }

    .line-bottom {
      border: 1px solid #33323D;
      width: 311px;
      margin-top: 46px;
      margin-bottom: 115px;
      opacity: 15%;
    }
  }
}

.contact-us-text-and-button {

  .contact-me {
    margin-bottom: 80px;

    h1 {
      font-family: Ibarra Real Nova;
      font-weight: 700;
      font-size: 40px;
      line-height: 42px;
      letter-spacing: -0.36px;
      text-align: center;
      margin-bottom: 40px;
      width: 311px;
      margin-inline: 32px;
    }

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      padding: 17px 32px;
      color: inherit;
      text-decoration: none;
      border: 1px solid black;
      margin-inline: 85px;
    }
  }
}

.footer {
  background-color: #33323D;
  padding-top: 56px;
  padding-bottom: 56px;

  .up-down-white {
    width: 60px;
    height: 32px;
    display: flex;
    margin-inline: 157px;
    margin-bottom: 40px;
  }

  .menus {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-family: Public Sans;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      color: white;
      text-decoration: none;
      margin-bottom: 32px;
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      width: 25px;
      height: 25px;
      margin-right: 16px;
    }
  }
}

/* index.html File Mobile End */



/* projects.html File Mobile Start */
.project-photo-title-description-buttons {
  margin-bottom: 97px;

  img {
    width: 311px;
    height: 288px;
    display: block;
    margin-inline: auto;
    margin-bottom: 32px;
  }

  .title-description-buttons {
    margin-inline: 32px;

    h1 {
      font-family: Ibarra Real Nova;
      font-size: 40px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: -0.36px;
    }

    h4 {
      width: 311px;
      font-family: Public Sans;
      font-size: 15px;
      line-height: 30px;
    }

    .links {
      margin-top: 32px;

      a {
        font-family: Public Sans;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 17px 32px;
        color: inherit;
        text-decoration: none;
        margin-inline: auto;
        border: 1px solid black;
        margin-right: 15px;
      }
    }

    .project-line-bottom {
      border: 1px solid #33323D;
      width: 311px;
      margin-top: 100px;
      margin-bottom: 115px;
      opacity: 15%;
    }
  }
}

/* projects.html File Mobile End */


/* contact.html dosyasi */
.contact {
  margin-bottom: 100px;

  h1,
  h3,
  h5,
  p {
    margin-inline: 32px;
  }

  h1 {
    font-family: Ibarra Real Nova;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
    margin-bottom: 24px;
  }

  h3 {
    font-family: Ibarra Real Nova;
    margin-bottom: 10px;
  }

  h5 {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 24px;
  }

  p {
    font-family: Public Sans;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }
  }

  /* form {
    margin-inline: 32px;

    label {
      font-family: Public Sans;
      font-weight: 700;
      font-size: 13px;
      line-height: 30px;
      letter-spacing: 0px;
      margin-bottom: 8px;
    }

    input {
      width: 311px;
      background-color: #d8d7d7;
      margin-bottom: 24px;
      padding: 9px 200px 9px 16px;
    }

    textarea {
      width: 311px;
      margin-bottom: 24px;
      background-color: #d8d7d7;
      padding: 9px 140px 57px 16px;
    }

    .send-message {
      font-family: Public Sans;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 80px;

      a {
        text-decoration: none;
        width: 200px;
        height: 48px;
        background-color: #203A4C;
        color: white;
        padding: 17px 24px 17px 24px;
      }
    }
  } */
}

.about {

  h1,
  h3 {
    font-family: Iberra Real Nova;
    margin-bottom: 20px;
  }

  .training-process {

    h2,
    h3 {
      margin-bottom: 20px;
    }

    h2 {
      font-family: Iberra Real Nova;
    }

    h3 {
      font-family: Public Sans;
    }
  }
}

/* Mobile End */





/* Tablet Start */
@media (width > 767px) {

  /* index.html File Tablet Start */
  .container {
    margin: auto;
    /* border: 1px solid black; */
  }

  .logo-and-nav {
    margin-top: 64px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Yapilan Islem Degistirilmedigi Surece 
    Tum Ekran Boyutlarinda Ayni Kabul Edilir */
    .main-menu {
      display: flex;
      gap: 8px;

      li {
        list-style: none;
        font-family: Public Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: inherit;
          margin-right: 30px;
        }
      }

    }

    .hamburger-menu-handle {
      display: none;
    }
  }

  .short-promotional-text-and-about-me-image {

    .about-me {
      width: 200px;
      height: 48px;
    }
  }

  .photo-about-and-projects-go-button {
    display: flex;
    flex-direction: row;

    .photo-me {
      img {
        width: 281px;
      }
    }

    .about {
      width: 339px;
    }
  }

  .contact-us-text-and-button {
    margin-bottom: 96px;

    .contact-me {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;

      h1 {
        width: 400px;
        display: flex;
        justify-content: flex-start;
      }

      a {
        padding: 17px 32px;
        margin-inline: 20px;
        margin-top: 20px;
        margin-bottom: 75px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 0px;

    .up-down-white {
      margin-inline: 39px;
    }

    .menus {
      flex-direction: row;
      margin-right: 100px;

      a {
        margin-right: 43px;
      }
    }
  }

  /* index.html File Tablet End */



  /* projects.html File Tablet Start */
  .project-photo-title-description-buttons {
    display: flex;
  }

  .project-photo-title-description-buttons {
    img {
      width: 339px;
      height: 314px;
      margin-right: 69px;
    }

    h1,
    h4 {
      width: 281px;
    }
  }

  /* projects.html File Tablet End */
}





/* Computer Start */
@media (width > 1109px) {

  /* index.html File Computer Start */
  .container {
    margin: auto;
    /* border: 1px solid black; */
    width: 1109px;
  }

  .short-promotional-text-and-about-me-image {

    .about-me {
      width: 200px;
      height: 48px;
    }
  }

  .photo-about-and-projects-go-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    .photo-me {
      img {
        width: 400px;
        height: 500px;
      }
    }

    .about {
      h4 {
        width: 350px;
      }
    }
  }

  .contact-us-text-and-button {
    margin-bottom: 96px;

    .contact-me {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;

      h1 {
        width: 400px;
        display: flex;
        justify-content: flex-start;
        margin-right: 400px;
      }

      a {
        padding: 17px 32px;
        margin-inline: 20px;
        margin-top: 20px;
        margin-bottom: 75px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 0px;

    .up-down-white {
      margin-inline: 50px;
    }

    .menus {
      flex-direction: row;
      margin-right: 410px;

      a {
        margin-right: 43px;
      }
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        width: 25px;
        height: 25px;
        margin-right: 16px;
      }
    }
  }

  /* index.html File Computer End */



  /* projects.html File Computer Start */
  .project-photo-title-description-buttons {
    display: flex;
  }

  .project-photo-title-description-buttons {
    img {
      width: 540px;
      height: 500px;
      margin: 0px;
    }

    h1,
    h4 {
      width: 350px;
    }
  }

  .project-photo-title-description-buttons:nth-child(odd) {
    flex-direction: row-reverse;
  }

  /* projects.html File Computer End */
}

/* Computer End */